<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"  routerLink="/employees">Employee</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/about/123">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)='logOut()' *ngIf='isLoggedIn()'>Log Out</a>
      </li>
    </ul>   
  </nav>
<div class="container">
  <h4 align='center'><u>Angular 5 Application</u></h4>
  <router-outlet></router-outlet>
</div>
